<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.pp.boot.company.model.vo.Company" alias="company"/>
		<typeAlias type="com.pp.boot.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.pp.boot.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.pp.boot.board.model.vo.BoardTotal" alias="boardTotal"/>
		<typeAlias type="com.pp.boot.offer.model.vo.Offer" alias="offer"/>
		<typeAlias type="com.pp.boot.board.model.vo.Comment" alias="comment"/>
		<typeAlias type="com.pp.boot.applicant.model.vo.Applicant" alias="applicant"/>
		<typeAlias type="com.pp.boot.review.model.vo.CompanyReview" alias="companyReview"/>
		<typeAlias type="com.pp.boot.resume.model.vo.Resume" alias="resume"/>
		<typeAlias type="com.pp.boot.resume.model.vo.Career" alias="career"/>
		<typeAlias type="com.pp.boot.board.model.vo.Like" alias="like"/>
		<typeAlias type="com.pp.boot.resume.model.vo.Certificate" alias="certificate"/>
		<typeAlias type="com.pp.boot.resume.model.vo.Language" alias="lang"/>
		<typeAlias type="com.pp.boot.resume.model.vo.SelectResume" alias="selectResume"/>
		<typeAlias type="com.pp.boot.member.model.vo.Scrap" alias="scrap"/>
		<typeAlias type="com.pp.boot.member.model.vo.LikeCompany" alias="likeCompany"/>
		<typeAlias type="com.pp.boot.interview.model.vo.InterviewCareer" alias="interviewCareer"/>
		<typeAlias type="com.pp.boot.interview.model.vo.InterviewReview" alias="interviewReview"/>
	</typeAliases>
	
	

</configuration>


