.boardCount{
    display:inline-block;
    margin-top:10px;
    width:30%;
}
.boardSearch {
    display:inline;
    float:right;
}
.mb-3{
    width:350px;
    
}
.boardSearch-container{
	margin-bottom:50px;
}
.board-search{
    display:inline-block;
    
}
.board-login{
    /* margin-left:50px; */
    display:inline-block;
    text-align: center;
    padding:20px;
    right:300px;
    top:300px;
    /* margin-top:50px; */
    border:1px solid #edeef0;
    border-radius:5px;  
    position: fixed;
  	  
}
.community-image {
    font-size:30px;
}
.login-ann {
    display:flex;
}
.login {
    font-size:14px;
}
.topic{
    display:flex;
}
.topic-font{
    font-size:20px;
}
.hot-image{
    font-size:20px;
    margin-left:20px;
}

.board-content {
    margin-top:30px;
    border:1px solid #edeef0;
    border-radius:10px;
    padding:20px;
    width:100%;
}
.content{
    margin-top:10px;
}
.content div {
    margin-top:5px;
    margin-bottom:5px;
}
.board-category{
    margin-top:50px;
}
.category{
    display:flex;
}
.category button {
    margin-top:10px;
    margin-right:10px;
}
.btn-light{
    border:1px solid black;
}
.whole-content{
    display:inline-block;
    width:48%;
    height:250px;
    border:1px solid #edeef0;
    border-radius: 10px;
    padding:20px;
    margin-right:20px;
}
.ready-empl{
    display:inline-block;
    width:48%;
    height:250px;
    border:1px solid #edeef0;
    border-radius: 10px;
    padding:20px;
}
.whole-title{
    display:inline-block;
}
.whole-total-view {
    display:inline;
    float:right;
}
.ready-title{
    display:inline-block;
}
.ready-total-view {
    display:inline;
    float:right;
}
.board{
	padding-bottom:100px;
}
.board-1{
    margin-top:30px;
}
.board-2{
    margin-top:30px;
}
.board-3{
    margin-top:30px;
}
.turnover-content{
    display:inline-block;
    width:48%;
    height:250px;
    border:1px solid #edeef0;
    border-radius: 10px;
    padding:20px;
    margin-right:20px;
}
.leave-content {
    display:inline-block;
    width:48%;
    height:250px;
    border:1px solid #edeef0;
    border-radius: 10px;
    padding:20px;
}
.turnover-title{
    display:inline-block;
}
.turnover-total-view{
    display:inline;
    float:right;
}
.leave-title{
    display:inline-block;
}
.leave-total-view{
    display:inline;
    float:right;
}
.free-content{
    display:inline-block;
    width:48%;
    height:250px;
    border:1px solid #edeef0;
    border-radius: 10px;
    padding:20px;
    margin-right:20px;
}
.question-content {
    display:inline-block;
    width:48%;
    height:250px;
    border:1px solid #edeef0;
    border-radius: 10px;
    padding:20px;
}
.free-title{
    display:inline-block;
}
.free-total-view{
    display:inline;
    float:right;
}
.question-title{
    display:inline-block;
}
.question-total-view{
    display:inline;
    float:right;
}
.whole-contents>div{
	margin-bottom:10px;
}
.ready-contents>div{
	margin-bottom:10px;
}
.turnover-contents>div{
	margin-bottom:10px;
}
.leave-contents>div {
	margin-bottom:10px;
}
.free-contents>div {
	margin-bottom:10px;
}
.qa-contents>div{
	margin-bottom:10px;
}
.board-logout-btn {
	display:inline-block;
}
.board-mypage-btn {
	display:inline-block;
}
.board-confirm {
	text-decoration:none;
	color:black;
	font-size:14px;
}
.board-btn{
	margin-top:15px;
}
.hot-topic{
	color:red;
}
.whole-color{
	color:black;
}
.whole-total{
	color:black;
}
.ready-total{
	color:black;
}
.turnover-total{
	color:black;
}
.leave-total{
	color:black;
}
.free-total{
	color:black;
}
.question-total{
	color:black;
}
.content-container{
	display:inline-block;
}
.parse{
	display:inline;
	float:right;
}
.parse span{
	margin-right:20px;
	font-size:14px;
}



