.btn {
  border:1px solid grey;
  height:35px;
}
.category-name{
  margin-top:30px;
}
.sort{
  margin-top:20px;
}
.cate{
  margin-top:30px;
}
.count{
  display:inline-block;
}
.search{
  display:inline;
  float:right;
}
.image{
  font-size:13px;
}
.radio-sort{
  border:1px solid #edeef0;
  width:315px;
  height:43px;
  padding:10px;
  font-size:14px;
  display:inline-block;
}
.insert{
  display:inline;
  float:right;
}
.boardContainer {
  margin-top:30px;
}
.board{
  border-top:1px solid #edeef0;
  border-bottom:1px solid #edeef0;
  padding:25px;
}
.boardLike {
  display:inline-block;
}
.boardContent{
  padding:10px;
  font-size:14px;
}
.boardComment{
  display:inline-block;
}
.boardView{
  display:inline-block;
}
#board-Title{
  font-size:18px;
  color:black;
  text-decoration: none;
}
.board-like{
  font-size:13px;
}
.board-comment{
  font-size:13px;
}
.board-view{
  font-size:13px;
}
.boardSort div {
  margin-right:15px;
}
.boardWriter{
	display:inline;
	float:right;
}
.enrollDate{
	display:inline-block;
	font-size:12px;
}
