section{
	padding-left: 300px; 
	padding-right: 300px;
}

div.content{
	position: relative;
	min-height: 1000px;
	width: 1303px;
	border: 1px solid black;
	padding: 50px 50px 50px 50px;
}

input.input{
	display: block;
}

input.title{
	width: 80%;
	font-size: 35px;
}

p.p{
	display: inline;
}

.flex{
	display: inline;
}

div#submit{
	text-align: center;
}
p.title{
	display: inline;
}
p.info {
	color: red;
	font-size: 12px;
	display: inline;
}

.favicon{
	display: inline;
}

.favicon img{
	width: 30px;
	height: 30px;
	display: inline;
}

div.companyName{
	display: inline;
}

.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.title{
	font-size: 20px;
	font-weight: bold;
}