.resume-container {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 50px;
}

.resume-basic-info {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.profileImg {
	width: 30%;
	height: 100%;
}

.basic-info-container {
	padding-top: 30px;
	width: 65%;
}

.resume-basic-container {
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}
.resume-basic-container-elementary{
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 25px;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 20px;
}


.resume-school-info {
	width: 100%;
}

.career-info {
	width: 100%;
}

.career-info>table tr>td:first-child {
	width: 100px;
}

.career-info>table tr>td:nth-child(3) {
	width: 70px;
	text-align: center;
}

.career-info>table tr>td:last-child {
	width: 130px;
}

table {
	width: 100%;
}

table td {
	height: 80px;
}

.hope-worktype>table tr>td:first-child {
	width: 100px;
}

.certificate-container>table tr>td:first-child {
	width: 100px;
}

.info-name {
	font-size: 25px;
	font-weight: bold;
}

.basic-info {
	font-size: 25px;
	font-weight: bold;
}

.file-label {
	margin-top: 30px;
	background-color: rgb(64, 194, 255);
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 65%;
	border-radius: 6px;
	cursor: pointer;
}

.file {
	display: none;
}

.upload-box {
	width: 100%;
	box-sizing: border-box;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.upload-box .drag-file {
	position: relative;
	width: 70%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px dashed #dbdbdb;
}

.upload-box .drag-file.highlight {
	border: 3px dashed red;
}

.upload-box .drag-file .image {
	width: 40px;
}

.upload-box .drag-file .message {
	margin-bottom: 0;
}

.upload-box .drag-file .preview {
	display: none;
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	height: 100%;
}

.uploadBtn {
	height: 30%;
}

.file-container {
	text-align: center;
}

.school input[type='radio'] {
	display: none;
}

.school input[type="radio"]+span {
	border-radius: 15px;
	display: inline-block;
	padding: 5px 5px;
	border: 1px solid #dfdfdf;
	text-align: center;
	cursor: pointer;
	width: 220px;
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
}

.school input[type="radio"]:checked+span {
	background-color: rgb(64, 194, 255);
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
}

.info-span {
	display: inline-block;
	width: 70px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.info-name {
	display: inline-block;
}

.basic-info {
	display: inline-block;
}

.update-info {
	margin-top: 20px;
	float: right;
}

.school-input-container {
	width: 100%;
	height: auto;
	padding: 10px;
	margin-top: 20px;
}

.school-input-title {
	font-size: 24px;
	font-weight: bold;
}

.elementary-container {
	padding: 20px;
	margin-top: 20px;
	border-radius: 15px;
}

.elementary-container>table tr>td:first-child {
	width: 130px;
}

.elementary-input {
	width: 300px !important;
}

.elementary-container>table tr>td:first-child>span {
	color: red;
}

.middleschool-container>table tr>td:first-child>span {
	color: red;
}

.middleschool-container>table tr>td:first-child {
	width: 130px;
}

.middleschool-input {
	width: 300px !important;
}

.highschool-container>table tr>td:first-child>span {
	color: red;
}

.highschool-container>table tr>td:first-child {
	width: 130px;
}

.highschool-input {
	width: 300px !important;
}

.university-container>table tr>td:first-child>span {
	color: red;
}

.university-container>table tr>td:first-child {
	width: 130px;
}

.university-input {
	width: 300px !important;
}

.university-input-radio {
	display: inline-block;
}
/* .areaSelect-result-container{
	padding-top: 20px;
} */
.select-result-span {
	font-size: 14px;
	font-weight: bolder;
	margin-right: 4px;
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 5px;
}

.resume-basic-container {
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 25px;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

.resume-basic-container-career {
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 25px;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 60px;
}

.plusbtn-container {
	width: 100%;
}

.plus {
	float: right;
	margin-right: 5px;
}

.resume-basic-container-certificate {
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 25px;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 60px;
	display: none;
}

.resume-basic-container-language {
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 25px;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 60px;
	display: none;
}

.resume-basic-container-self {
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 25px;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 60px;
}

.resume-basic-container-introcareer {
	border: 1px solid lightgray;
	border-radius: 15px;
	padding: 25px;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 60px;
}

.deleteAddform {
	cursor: pointer;
	display: none;
}
.deleteAddformCerti{
	cursor: pointer;
}
.deleteAddformLang{
	cursor: pointer;
}

.addBtn-container {
	height: 200px;
	border: 1px solid black;
	width: 200px;
}

.container {
	display: flex;
	justify-content: center;
}

.quickmenu-container{
	position: relative;
	width: 200px;
}
.quickmenu {
	position: absolute;
	width: 280px;
	top: 5%;
	margin-top: -50px;
	background: #fff;
}
.quickmenu ul {
	position: relative;
	float: left;
	width: 100%;
	display: inline-block;
	*display: inline;
	border: 1px solid #ddd;
	padding: 30px;
	border-radius: 15px;
}

.quickmenu ul li {
	float: left;
	width: 100%;
	text-align: center;
	display: inline-block;
	*display: inline;
	margin-bottom: 20px;
	
}
/* .quickmenu ul li a {
	position: relative;
	float: left;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #999;
	font-size: 9.5pt;
} */

/* .quickmenu ul li a:hover {
	color: #000;
}
 */
.quickmenu ul li:last-child {
	border-bottom: 0;
	margin-bottom: 0px;
}

.quickmenuBtn{
	border: none;
	background-color: rgb(64, 194, 255);
	width: 100%;
	color:white;
	font-size: 23px;
	font-weight: bolder;
	height: 100%;
	height: 50px;
}