.loginContainer{
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.loginouter{
    border: 1px solid #000000;
    width:600px;
    height: 600px;
    padding:80px;
    border-radius:15px ;
    border: 1px solid lightgray;
    border-top-left-radius:0px; 
    border-bottom-left-radius:0px; 
}
.loginTitle{
    font-size: 28px;
    font-weight: bolder;
}
.loginTitle2{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.form-control{
    margin-bottom: 20px;
    height: 55px;
    border-radius: 10px;
}
.btn-primary{
    width: 100%;
    height: 55px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bolder;
    background-color: rgb(64, 194, 255);
    border: rgb(64, 194, 255);
}
.enroll>a{
    text-decoration: none;
    font-size: 20px;
   
    color: black;
}
.enroll{
    margin-top: 30px;
    margin-bottom: 30px;
}