.mypage-container{
    width: 1200px;
    display: flex;
    justify-content: center;
}
.link-tab{
    width: 22%;
}
.update-info-container{
    width: 78%;
}
.link-tab-ul li{
list-style: none;
font-size: 20px;
color: gray;
}
.link-tab-ul li>a{
    text-decoration: none;
    color: gray;
}
.link-tab-li{
    height: 50px;
    margin-top: 30px;
}
.resume-link a{
    font-size: 16px;
}
.info-update{
    width: 100%;
    display: flex;
}
.info_image{
    width: 20%;
}
.member_info_container{
    width: 60%;
}
.gender-btn{
   float: right;
}
.gender-info{
    display: inline-block;
}
.select_gender{
    display: inline-block;
}
.form-check{
    display: inline-block;
}
.member_info{
    margin-bottom: 30px;
}
.info-title{
    font-size: 30px;
    font-weight: bolder;
}
.btn{
	border: 1px solid lightgray;
}
.resultEmail{
	margin-bottom: 10px;
}
.resultCode{
	margin-bottom: 10px;
}