div, ul, li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:0;margin:0}
a {text-decoration:none;}

.quickmenu {position:absolute;width:280px;top:26%;margin-top:-50px;right:10px;background:#fff;}
.quickmenu ul {position:relative;float:left;width:100%;display:inline-block;*display:inline;border:1px solid #ddd;}
.quickmenu ul li {float:left;width:100%;border-bottom:1px solid #ddd;text-align:center;display:inline-block;*display:inline;}
.quickmenu ul li a {position:relative;float:left;width:100%;height:30px;line-height:30px;text-align:center;color:#999;font-size:9.5pt;}
.quickmenu ul li a:hover {color:#000;}
.quickmenu ul li:last-child {border-bottom:0;}

section{
	padding-left: 300px; 
	padding-right: 300px;
	padding-top: 200px;
}

div.content{
	position: relative;
	min-height: 1000px;
	width: 1303px;
	border: 1px solid black;
	padding: 50px 50px 50px 50px;
}
.content ul{
	margin-top: 0;
	margin-bottom: 50px;
	margin-left: 30px;
}

.hirepostTitle{
	font-size: 50px;
	font-weight: bolder;
}

.companyName{
	font-size: 25px;
}

.title{
	font-size: 20px;
	font-weight: bolder;
}
