.find_title{
    font-weight: bolder;
    font-size: 27px;
    padding-top: 50px;
   }

   .find_container{
       width: 100%;
       height: auto;
       display: flex;
       justify-content: center;
   }
  .find_inner{
    margin-right: 30px;
    width: 40%;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .find_link{
      display: inline-block;
      width: 40%;

  }
.find_link button{
    width: 100%;
    background-color: rgb(64, 194, 255);
    border: rgb(64, 194, 255);
    font-size: 20px;
    font-weight: bolder;
}
.link_container{
    height: 150px;
    padding-top: 55px;
}