.find_title{
 font-weight: bolder;
 font-size: 27px;
}
.find_title2{
    font-weight: bolder;
    font-size: 20px;
}
.find_container{
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
}
.find_outer{
   padding-top: 50px;
}
.find_info{
    width: 700px;
    margin-bottom: 30px;
}
.name_info{
	margin-bottom: 40px;
}
.find_info_name{
    display: inline-block;
    text-align: left;

    width: 150px;
    font-size: 20px;
}
.find_info_input{
    display: inline-block;
    width: 70%;
}
.mb-3{
    margin-bottom: 0px!important;
}
.find_btn{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.find_btn_outer{
    width: 200px;
}
.find_btn_outer>button{
    width: 100%;
}
.resultEmail{
	padding-top:10px;
	padding-left: 152px;
}
.resultCode{
	padding-top:10px;
	padding-left: 152px;
}
.btn{
	 border: 1px solid lightgray;
}

.resultSearchId{
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
}